<h1>From AppComponent</h1>

<a href="./templatereferencevariables">templatereferencevariables</a>&nbsp;&nbsp;&nbsp;
<a href="./databinding">databinding</a>&nbsp;&nbsp;&nbsp;
<a href="./stylebinding">stylebinding</a>&nbsp;&nbsp;&nbsp;
<a href="./eventbinding">eventbinding</a>&nbsp;&nbsp;&nbsp;
<a href="./twowaybinding">twowaybinding</a>&nbsp;&nbsp;&nbsp;

<br><br>
<router-outlet></router-outlet>
<!-- <div class=app-test></div>
<div class=app-stylebinding></div>
<div class=app-eventbinding></div> -->